<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PassTron Security - Create Password</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../assets/font_awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../public/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../public/css/createpass.css"
    />
  </head>
  <body>
    <main>
      <div class="row row-cont">
        <div class="col-md-1 sidenav">
          <div class="container empty"></div>
          <div class="container navicons">
            <div class="icon my-2">
              <a href="../home.html">
                <i
                  class="fa fa-home fa-2x"
                  style="color: white; position: 30%;"
                >
                </i>
              </a>
            </div>
            <div class="icon my-4">
              <a href="./createPass.html">
                <i
                  class="fa fa-edit fa-2x"
                  style="color: white; position: 30%;"
                >
                </i>
              </a>
            </div>
            <div class = "icon my-4">
              <a href = "./searchPass.html">
              <i
                class="fa fa-search fa-2x"
                style="color: white; position: 30%;">
              </i>
            </a>
            </div>
            <div class="icon my-4">
              <a href="./savedPass.html">
                <i
                  class="fa fa-database fa-2x"
                  style="color: white; position: 30%;"
                >
                </i>
              </a>
            </div>
            <div class="icon my-4">
                <a href="./helpDesk.html">
                  <i class="fa fa-question-circle fa-2x" style="color: white;">
                  </i>
                </a>
              </div>
              <div class="icon my-4">
                <a href="./settings.html">
                  <i class="fa fa-cogs fa-2x" style="color: white;"> </i>
                </a>
              </div>
              <div class="icon my-4">
                <a href="./developer.html">
                  <i class="fa fa-laptop fa-2x" style="color: white;"> </i>
                </a>
              </div>
          </div>
        </div>
        <div class="col-md-10 midbody" style = "min-height: 90vh;">
          <div
            class="jumbotron topJumbo">
            <h1 id = "logoTopHead">
              PassTron Security
            </h1>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="createPass">
                <div class="container">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1" style="color: white;"
                        >Enter tag Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="tagName"
                        aria-describedby="emailHelp"
                        placeholder="facebook"
                      />
                    </div>
                    <div class="form-group">
                      <label style="color: white;">Password</label>
                      <input type="password" class="form-control" id="pwd" />
                      <small id="emailHelp" class="form-text text-muted"
                        >We'll never share your password with anyone
                        else.</small
                      >

                      <div class="dropdown">
                        <button class="dropbtn dropdown-toggle">
                          Advanced Settings
                        </button>
                        <div class="dropdown-content"></div>
                      </div>
                    </div>

                    <button id="addPass" type="submit" class="btn btn-primary">
                      Submit
                    </button>
                    <div id="msg"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class = "logs">
                Logs
              </div>
              <div id ="passLogs" style="color: white;"></div>
            </div>
          </div>
          <div class="footer">
              <div class="copyright">
                Copyright &copy;
                <script>
                  const year = new Date().getFullYear();
                  document.write(year);
                </script>
                <a id="footLogo">PassTron Security</a>. All Rights Reserved
              </div>
            </div>
        </div>
        <div class="col-md-1 sidenav">
        </div>
      </div>
    </main>
    <script src="../public/js/dispDropDown.js"></script>
    <script src="../public/js/addPass.js"></script>
  </body>
</html>
